@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playwrite+GB+S+Guides:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}
a{
    color: #0a1819;
}
.head{
    color: #0a1819;
}
.top {
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../images/main_bg.jpg");
    background-size: cover;
    background-position: center;
}

.top input {
    height: 35px;
    border-radius: 5px;
    border: 0px;
    width: 60vw;
    padding: 10px;
    margin-right: 5px;
}

.top button {
    height: 35px;
    border-radius: 5px;
    border: 0px;
    width: 70px;
    margin-left: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.container .image_up{
    background-color: white;
    border: 1px solid black;
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 45vw;
    border-radius: 200px;
    margin: 20px;
    padding: 10px;
}
@media(max-width:900px){
    .container .image_up{
        width: max-content;
        flex-direction: column;
        border-radius: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
}
input[type='file'] { display: none; }
.post {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 30px 30px 10px gray;
    margin-bottom: 50px;
    background-color: whitesmoke;
    border: 15px;
}

.post .frame {
    width: 30vw;
    overflow: hidden;
    height: 60vh;
    background-image: url("../images/win4.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.post .frame img{
    overflow: hidden;
    display: none;
    width: 30vw;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.post .des {

    padding-top: 80px;
    padding-left: 80px;
    width: 30vw;
    height: max-content;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.post .des p {
    width: 20vw;
}

@media(max-width:1150px) {
    .post .des {
        padding: 40px;
    }
}

@media (max-width:900px) {
    .post {
        flex-direction: column;
    }

    .post .frame {
        width: 100%;
        height: max-content;
    }
    .post .frame img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .post .des {
        width: 100%;
    }

    .post .des p {
        width: 80%;
    }
}

@media(max-width:480px) {
    .post {
        width: 90vw;
        box-shadow: 5px 5px 3px gainsboro;
    }
}